/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

#dash-title {
  font-size: 4rem;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  border-radius: 5px;
  background-color: #336699;
  height: 50%;
  width: 50%;
  padding: 1rem;
  font-weight: lighter;
  font-size: 1.25em;
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  margin: 1rem;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #336699;
}

.grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#instructions {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
